title: Новое на сайте
----
<ul class="log">
{{$p := .Site.Pages.Children "log"}}
{{$ps := $p.Slice 0 5}}
{{range $ps}}
<li><small>{{.Date.Format "02.01.2006 15:04"}}</small><br> <a href="{{.Content}}">{{if .Other.Description}}{{.Other.Description}}{{else}}{{.Title}}{{end}}</a>{{end}}
</ul>
<!-- <p><span>
"НОВЫЕ ПОСТУПЛЕНИЯ В БИБЛИОТЕКУ" / <a href="/newbook/">Обновлено</a><br>
</span></p>



<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"ФОТОГАЛЕРЕЯ" / <a href="/pages/photos/">Обновлено</a><br>
</span></p>


<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"Календарь новостей ОМО" / <a href="/calomoSourse_f/" target="_blank">Обновлено</a><br>
</span></p>



<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"ПОДПИСКА" / <a href="/pages/podpiska/" target="_blank">Обновлено</a><br>
</span></p>


<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"ФОТОГАЛЕРЕЯ" / <a href="/pages/photos/" target="_blank">Обновлено</a><br>
</span></p>


<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"НОВЫЕ ПОСТУПЛЕНИЯ В БИБЛИОТЕКУ" / <a href="/newbook.html" target="_blank">Обновлено</a><br>
</span></p>

<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"НОВЫЕ ПОСТУПЛЕНИЯ В БИБЛИОТЕКУ" / <a href="/newbook_1kv2013.html" target="_blank">Обновлено</a><br>
</span></p>



<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"КАЛЕНДАРЬ НОВОСТЕЙ ОМО" / <a href="/calomoSourse_f.html" target="_blank">Добавлены новости</a><br>
</span></p>


<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"Виртуальные выставки" / Выставки новых поступлений  <a href="/teamViev.html" target="_blank">"Основы строительного производства"</a><br>
</span></p>

<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"КАЛЕНДАРЬ НОВОСТЕЙ ОМО" / <a href="/calomoSourse_f.html" target="_blank">Добавлены новости</a><br>
</span></p>


<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"КАТАЛОГИ БИБЛИОТЕК" / <a href="/http://sigla.ru/" target="_blank">"Единая точка доступа к электронным каталогам России"</a><br>
</span></p>

<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
"Виртуальные выставки" / Выставки новых поступлений  <a href="/kh_Smol5.html" target="_blank">"Новые книги по юридическим наукам"</a><br>
</span></p>
<p><span style='font-size:12.0pt;line-height:100%;font-family:"Verdana";color:black'>
Подписка  <a href = "podpSourse.htm" target="_blank">Выписанное на 1 полугодие 2013 года</a>
</span></p> -->