{{ define "header" }}<!doctype html>
<html lang="en">
<!--





!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!! Привет, мои маленькие любители покапаться в чужом коде. У меня есть для    !!!
!!! вас задание.Пингуйте мне https://twitter.com/zhuharev                      !!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




-->

























































































  <head>
    <meta charset="UTF-8">
    <title>
{{ if eq .Pattern "news/1.page" }}
      Библиотека СмолГУ
    {{ else if eq .Pattern "news/*.page" }}
      Страница {{ .Title }} &mdash; Библиотека СмолГУ
    {{ else }}
      {{ .Title | html }}
    {{ end }}
    </title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/main-new.css?15">
  <script>
function slogan() {
  var r=Math.floor((Math.random()*7));
  var titles = ["РАСШИРЬ СВОИ ГОРИЗОНТЫ","ОБГОНИ ДРУЗЕЙ В УЧЁБЕ","ПОПОЛНИ ЗАПАС ЗНАНИЙ","ПОЛУЧИ ДИПЛОМ С ОТЛИЧИЕМ","СУМЕЙ СТАТЬ ЛУЧШЕ","УСВОЙ ОПЫТ ЧЕЛОВЕЧЕСТВА","Открой окно в мир"];
  return titles[r]
}
    </script>
  </head>
  <body>
    <div class="nav-top">
      <div class="container">
        <ul>
          <li><a href="/pages/istoriya-biblioteki/">История библиотеки</a>
                <li><a href="/pages/sovremennoe-sostoyanie/"> Состояние</a>
                <!--<li><a href="/missionLib/">МИССИЯ БИБЛИОТЕКИ СмолГУ</a>-->
                <li><a href="/pages/pravila-polzovaniya-bibliotekoi/">ПРАВИЛА Библиотеки</a>
                <li><a href="/pages/platnie-uslugi/">ПЛАТНЫЕ УСЛУГИ</a>
                <li><a href="/pages/kontakti/">КОНТАКТЫ</a>
                <!--<li><a href="/fotoSourse/">ФОТОГАЛЕРЕЯ</a>-->
                <li><a href="/pages/photos/">ФОТОГАЛЕРЕЯ</a>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="header-gradient">
      <header>
        <div class="header-legend">
          <div class=hero>Библиотека</div>
          <div class="header-white">
          <script>
document.write(slogan())
          </script>
          <noscript>Открой окно в мир</noscript>
          </div>
        </div>
        <div class="header-window hidden-mobile">
          <div class="header-window-inner"></div>
        </div>
      </header>
      </div>
      <div class="book-nav-bg">
       <input type="checkbox" id="menu">
<label class="toggle-menu" for="menu" onclick></label>
      	<nav role="off-canvas">
        <ul>
          <li><a class="ajaxy" href="/">Главная</a></li>
          <li><a class="ajaxy" href="/pages/elektronnii-katalog/">Электронный каталог</a></li>
          <li><a class="ajaxy" href="/pages/electronnaya-biblioteka/">Электронная библиотека</a></li>
          <li><a class="ajaxy" href="/pages/knigoobespechennost/">Книгообеспеченность</a></li>
          <!--<li><a class="ajaxy" href="/pages/resursi-biblioteki/">Ресурсы библиотеки</a></li>-->
          <li><a class="ajaxy" href="/pages/podpiska/">Подписка</a></li>
        </ul>
      </nav>
      </div>
      <section>
        <aside class="aside-left">
          <ul class="nav-left">
            <li>
              <span>О библиотеке:</span>
              <ul>
                <li><a href="/pages/istoriya-biblioteki/">ИСТОРИЯ БИБЛИОТЕКИ СМОЛГУ</a>
                <li><a href="/pages/sovremennoe-sostoyanie/"> СОВРЕМЕННОЕ СОСТОЯНИЕ БИБЛИОТЕКИ СмолГУ</a>
                <!--<li><a href="/missionLib/">МИССИЯ БИБЛИОТЕКИ СмолГУ</a>-->
                <li><a href="/pages/pravila-polzovaniya-bibliotekoi/">ПРАВИЛА ПОЛЬЗОВАНИЯ</a>
                <li><a href="/pages/platnie-uslugi/">ПЛАТНЫЕ УСЛУГИ</a>
                <li><a href="/pages/kontakti/">КОНТАКТЫ</a>
                <!--<li><a href="/fotoSourse/">ФОТОГАЛЕРЕЯ</a>-->
                <li><a href="/pages/photos/">ФОТОГАЛЕРЕЯ</a>
              </ul>
            </li>
            <li>
              <span>Структура библиотеки:</span>
              <ul>
                <li><a href="/pages/structura/">ОБЩАЯ ТАБЛИЦА</a>
                <li><a href="/pages/rabotniki/">ПОДРАЗДЕЛЕНИЯ</a>
              </ul>
            </li>
            <li>
              <span>Преподавателям и аспирантам:</span>
              <ul>
                <li><a href="/pages/novie-postupleniya/">НОВЫЕ ПОСТУПЛЕНИЯ В БИБЛИОТЕКУ</a>
                <li><a href="/pages/zakaz-knig-i-periodicheskih-izdanii/">ЗАКАЗ КНИГ И ПЕРИОДИЧЕСКИХ ИЗДАНИЙ</a>
                <li><a href="/pages/pravila-oformleniya-nauchnih-rabot/">ПРАВИЛА ОФОРМЛЕНИЯ НАУЧНЫХ РАБОТ</a>
                <li><a href="/pages/knichnaya-palata/">КНИЖНАЯ ПАЛАТА</a>
                <li><a href="/pages/primeri-bibliograficheskogo-opisaniya/">ПРИМЕРЫ БИБЛИОГРАФИЧЕСКОГО ОПИСАНИЯ ДОКУМЕНТОВ</a>
                <!--<li><a href="/unknown/">ПРИМЕРЫ ОФОРМЛЕНИЯ БИБЛИОГРАФИЧЕСКИХ СПИСКОВ</a>-->
              </ul>
            </li>
            <li>
              <span>Кураторский час:</span>
              <ul>
                <li><a href="/pages/tematicheskie-obzory/">ТЕМАТИЧЕСКИЕ ОБЗОРЫ</a>
                <li><a href="/pages/prezentaciya-knigi/">ПРЕЗЕНТАЦИЯ КНИГИ</a>
                <!--<li><a href="/unknown/">ПЛАН ВОСПИТАТЕЛЬНОЙ РАБОТЫ</a>-->
                <!--<li><a href="/newEvents/">ЗАЯВКИ НА ПРОВЕДЕНИЕ МЕРОПРИЯТИЙ</a>-->
              </ul>
            </li>
            <!--<li>
              <span>Персоналии учёных:</span>
              <ul>
                <li><a href="/unknown/">СВОДНЫЕ БИБЛИОГРАФИЧЕСКИЕ ПОСОБИЯ</a>
                <li><a href="/unknown/">ПЕРСОНАЛЬНЫЕ БИБЛИОГРАФИЧЕСКИЕ ПОСОБИЯ</a>
                <li><a href="/unknown/">ВИРТУАЛЬНЫЕ ВЫСТАВКИ</a>
              </ul>
            </li>-->
            <li>
              <span>Каталоги библиотек:</span>
              <ul>
                <li><a href="/pages/elektronnii-katalog/">КАТАЛОГ БИБЛИОТЕКИ СМОЛГУ</a>
                <li><a href="http://smolensklib.ru/scripts/zgate.exe?Init+test.xml,simple.xsl+rus" target="_blank">КАТАЛОГ СОУБ</a>
                <li><a href="http://library.shu.ru/"  target="_blank"  >КАТАЛОГ БИБЛИОТЕКИ СГУ</a>
                <li><a href="http://sigla.ru/"  target="_blank"  >ЕДИНАЯ ТОЧКА ДОСТУПА к ЭК РФ</a>
              </ul>
            </li>
            <!--<li>
              <span>Книгообмен:</span>
              <ul>
                <li><a href="/unknown/">ОБМЕННЫЙ ФОНД</a>
                <li><a href="/unknown/">BOOKCROSSING</a>
              </ul>
            </li>-->
            <li>
              <span>Пополнение фонда:</span>
              <ul>
                <li><a href="/pages/statistika/">СТАТИСТИКА</a>
                <li><a href="/pages/dariteli/">НАШИ ДАРИТЕЛИ</a>
              </ul>
            </li>
            <li>
              <span>Виртуальные выставки и обзоры:</span>
              <ul>
                <li><a href="/pages/knigi-po-istorii-rossii/">ВЫСТАВКИ НОВЫХ ПОСТУПЛЕНИЙ</a>
                <li><a href="/pages/tematicheskie-vistavki/">ТЕМАТИЧЕСКИЕ ВЫСТАВКИ</a>
                <li><a href="/pages/ivonin-yrii-sergeevich/">ВЫСТАВКИ К ЮБИЛЕЯМ УЧЁНЫХ СМОЛГУ</a>
                <!--<li><a href="/pages/hudozhniki/">Художники детской книги</a>-->
                <!--<li><a href="/presSourse/">ВЫСТАВКИ К ЗНАМЕНАТЕЛЬНЫМ И ПАМЯТНЫМ ДАТАМ</a>-->
                <li><a href="/pages/prezentations/">ВЫСТАВКИ К ЗНАМЕНАТЕЛЬНЫМ И ПАМЯТНЫМ ДАТАМ</a>
              </ul>
            </li>
            <li>
              <span>Читателям:</span>
              <ul>
                <li><a href="/pages/memosourse/">ПАМЯТКА ПЕРВОКУРСНИКАМ</a>
              </ul>
            </li>
            <li>
              <span>Библиотекарям:</span>
              <ul>
                <li><a href="/pages/documents/">ДОКУМЕНТЫ</a>
                <li><a href="/pages/training/">ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</a>
                <li><a href="/pages/oblastnoe-metodicheskoe-obedinenie/">ОМО</a>
                <li><a href="/pages/profsoyz/">ПРОФСОЮЗ</a>
              </ul>
            </li>
            <li>
              <span>Год литературы:</span>
              <ul>
                <li><a href="/pages/calendar/">ЛИТЕРАТУРНЫЙ КАЛЕНДАРЬ</a>
                <li><a href="/pages/lectorii/">ЛЕКТОРИЙ</a>
                <li><a href="/pages/hudozhniki/">Художники детской книги</a>
              </ul>
            </li>
            <li>
              <span>Архив новостей:</span>
              <ul>
                <li><a href="/pages/archive/">Архив</a>
              </ul>
            </li>
          </ul>
        </aside>
        <main>
        <div class="content">
          {{ end }}
          {{ define "footer" }}
        </div>
        </main>
        <aside class="aside-right">
        <div class="account">
          <ul class="nav-right">
            <li><a href="/account/auth">Войти в личный кабинет</a></li>
            <li><a href="/account/reg">Зарегистрироваться</a></li>
          </ul>
        </div>
        <a class="fancybox" href="/static/img/we-help-you.jpg">
          <img src="/static/img/we-help-you_small.jpg" alt="">
          </a>
          <ul class="nav-right">
            <li><a href="/pages/regim-raboti/">Режим работы</a></li>
            <li><a href="/pages/obnovleniya/">Новое на сайте</a></li>
          </ul>
          <div>
            {{template "log" .}}
          </div>
          <img src="/static/img/aside-right-girl.png" alt="">
          <ul class="banners">
            <li class="border-blue"><a target="_blank" href="http://www.polpred.com/"><img src="/static/img/banners/polpred.png" alt=""></a></li>
            <li class="border-green"><a target="_blank" href="http://e.lanbook.com/"><img src="/static/img/banners/lan.jpg" alt=""></a></li>
            <li class="border-red"><a target="_blank" href="http://biblioclub.ru/"><img src="/static/img/banners/ub.jpg" alt=""></a></li>
            <!--<li class="border-sea"><a target="_blank" href="http://rucont.ru/"><img src="/static/img/banners/rucont.jpg" alt=""></a></li>-->
            <li class="border-dark-green"><a target="_blank" href="http://www.iprbookshop.ru/elibrary/"><img src="/static/img/banners/sprbooks.jpg" alt=""></a></li>
            <li class="border-sea"><a target="_blank" href="http://www.proquest.com/"><img src="/static/img/banners/logoquest.jpg" alt=""></a></li>
          </ul>
        </aside>
      </section>
    </div>
    <div class="container">
      <footer>
      <div class="c3">
        <h2>Библиотека СмолГУ</h2>
        <p>
          Все материалы сайта доступны по лицензии:</p>
          <p><a href="http://creativecommons.org/licenses/by/4.0/deed.ru" hreflang="ru" class="underline" rel="license" target="_blank">Creative Commons Attribution 4.0 International</a>
        </p>
      </div>
      <div class="c3"></div>
      <div class="c3"></div>
      <div class="c3"></div>
        <a href="http://www.liveinternet.ru/click"
        target="_blank"><img src="//counter.yadro.ru/logo?14.5"
        title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
        alt="" border="0" width="88" height="31"/></a>
      </footer>
      </div>
<script type="text/html" id="item_tmpl">
<div>
Вы вошли как <%=first_name%> <%=last_name%> | <a href="/account/logout">Выйти</a>
<ul class="nav-right">
<li><a href="/account/dashboard">Личный кабинет</a></li>
</ul>
</div>
</script>
    <script src="/static/js/ban.js?1"></script>
    <!--<script src="/static/js/history.js?1"></script>
    <script src="/static/js/ajaxy.js?1"></script>-->
    <script src="/static/js/main.js?4"></script>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  </body>
</html>
{{ end }}
{{define "date"}}
<time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{ .Format "2006, January 02" }}
</time>
{{end}}
{{ define "page" }}{{ template "header" . }}
{{ .Content }}
<div >
<script>
(function() {
  if (location.host != "biblioteka.smolgu.ru"){
    return;
  }
var js = document.createElement("script");
js.type = "text/javascript";
js.async = true;
js.charset = "utf-8";
js.src = "//yastatic.net/share/share.js";
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(js, s);
}());
</script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div>
</div>
{{ template "footer" . }}{{ end }}
{{define "center"}}
<div class="text-center">
  {{.Content}}
</div>
{{end}}
{{define "h1"}}
<h1>{{.Title}}</h1>
{{.Content}}
{{end}}
{{ define "post" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="info">
      {{ template "date" .Date }} &mdash;
      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/">{{ $t }}</a>{{ end }}
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
</article>
{{ end }}
{{define "tag"}}
# Pages tagged with {{ .Title }}
{{ range .Site.Pages.WithTag .Title }}
- [{{ .Title }}](../../{{ .Url }})
{{ end }}
{{ end }}

{{ define "excerpt" }}

{{ $more := "\n<!-- more -->\n" }}
{{ $excerpt_open := "<!-- excerpt -->\n" }}
{{ $excerpt_close := "\n<!-- /excerpt -->" }}

{{ if contains $more .Raw }}
  {{ cut .Raw "" $more | markdown }}
{{ else if contains $excerpt_open .Raw }}
  {{ cut .Raw $excerpt_open $excerpt_close | markdown }}
{{ else }}
  {{ cut .Raw "" "\n\n" | markdown }}
{{ end }}

{{ end }}


{{define "archive"}}
<h3>Новости библиотеки:</h3>
<div class="justify">
{{ with paginator . }}
        {{ range $i, $page := .Pages }}
          {{ if $i }}<hr>{{ end }}
          <h2 class="text-left">{{.Title}}</h2>
          {{ .Raw }}

    <!--<p class="read-more">
      <a href="{{ .UrlTo . }}" class="btn iwmn-btn btn-small">Читать больше &rarr;</a>
    </p>-->
        {{ end }}

        {{ if .Next }}
        <br>
          <a href="{{ $.UrlTo .Next.Page }}" class="more-posts">Показать ещё</a>
        {{ end }}
      {{ end }}
</div>
{{end}}

{{define "log"}}
<small>
<ul class="log">
{{$p := .Site.Pages.Children "log"}}
{{$ps := $p.Slice 0 5}}
{{range $ps}}
<li><small>{{.Date.Format "02.01.2006 15:04"}}</small><br> <a href="{{.Content}}">{{.Title}}</a>{{end}}
</ul>
</small>
{{end}}
